<!DOCTYPE html>
<html lang="en">
  <head>
  <script src="js/angular.min.js">

  </script>
  <script>
var app = angular.module('mainapp', []);
app.controller('formCtrl', function($scope) {
  //$scope.firstname="Salini";
$scope.getdata=function(){
  alert("name");
}
    $scope.click=function(){
        alert("name by click"+$scope.firstname);
    }
});
</script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
 <link rel="stylesheet" href="css/style1.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div  class="a"  ng-app= "mainapp" ng-controller="formCtrl">
      <br>
      <form ng-submit="getdata()">
    <p>  UserName: <input type="text" ng-model="firstname" value=""></p><br>
    <p>Password:
      <input type="password" ng-model="t1" value="">
      </p>
      <button type="submit" name="button" ng-click="click()"></button>


    <h1>  {{name}}
      {{t1}}
</form>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
