<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
<!--  <form ng-submit="getData()">-->
    First Name: <input type="text" ng-model="firstname">
      Second  Name: <input type="text" ng-model="secname">
  <button ng-click="click()">OK</button>
  <!--</form>-->

</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
  //$scope.firstname="Salini";

  /* $scope.getData=function(){
        alert("name"+$scope.firstname);
    }*/

    
    $scope.click=function(){

        alert("name by click"+$scope.firstname);
    }
});
</script>

</body>
</html>
